<div class="container h-100 justify-content-center flex-row flex-wrap align-content-center vertical-center">
    <h1 class="row w-100 justify-content-center">
        AI Registry Admin Login
    </h1>
    <div class="row w-100">
        <div class="col">
            <form class="" id="loginForm" [formGroup]="loginForm" (ngSubmit)="submit()">
                <div class="mb-3 input-group-lg">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                        formControlName="username">
                </div>
                <div class="mb-3 input-group-lg">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password"
                        formControlName="password">
                </div>
                <button type="submit" class="btn btn-primary mx-auto">Login</button>
                <a class="ms-md-5 link-secondary" href="/forgetpassword">Forget Password</a>
            </form>
        </div>
    </div>

</div>