# for config sql database
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=
spring.datasource.hikari.maximumPoolSize=


# configurating mail server
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=

airegistry.mail.sender=

airegistry.storage.directory=

jwt.key=

server.servlet.context-path=/api

server.servlet.encoding.charset=UTF-8
server.servlet.encoding.force-response=true
server.servlet.encoding.enabled=true
server.servlet.encoding.force=true