<app-notice></app-notice>
<div class="container h-100 justify-content-center vertical-center flex-row flex-wrap align-content-center">
    <h1 class="row w-100 justify-content-center">
        AI Registry Admin Interface<br />Reset Password
    </h1>
    <div class="row w-100">
        <div class="col">
            <form class="" id="loginForm" [formGroup]="forgetPasswordForm" (ngSubmit)="onForgetFormSubmit()">
                <div class="mb-3 input-group-lg">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                        formControlName="username">
                </div>
                <div class="mb-3 input-group-lg">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
                </div>
                <button type="submit" class="btn btn-primary mx-auto">Submit</button>
            </form>
        </div>
    </div>

</div>