<div class="card my-2">
    <h3 class="card-title ms-2 mt-2">
        Description
    </h3>
    <div class="card-body">

        <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
            <ng-container ngbNavItem="desc-eng-btn">
                <a ngbNavLink class="nav-item" data-desc-lang="eng">English</a>
                <ng-template ngbNavContent>
                    <div class="">
                        <app-edit-desc [projectId]="projectId" [lang]="LANG.ENG"></app-edit-desc>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink="nav-item" data-desc-lang="tc">Trad. Chinese</a>
                <ng-template ngbNavContent>
                    <div class="">
                        <app-edit-desc [projectId]="projectId" [lang]="LANG.TC"></app-edit-desc>
                    </div>
                </ng-template>
            </ng-container>
            <ng-container ngbNavItem>
                <a ngbNavLink="nav-item" data-desc-lang="sc">Simplified Chinese</a>
                <ng-template ngbNavContent>
                    <div class="">
                        <app-edit-desc [projectId]="projectId" [lang]="LANG.SC"></app-edit-desc>
                    </div>
                </ng-template>
            </ng-container>
        </nav>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>


    </div>
</div>