<div class="card my-2">
    <h3 class="card-title ms-2 mt-2">
        Contact
    </h3>
    <div class="card-body">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <span class="input-group-text" id="">Email</span>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Department</span>
                <input type="text" class="form-control" formControlName="department">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Phone Number</span>
                <input type="text" class="form-control" formControlName="phoneNumber">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
</div>