@media only screen and (max-width: 600px) {
        .searchbar {
            order: 3;
            width: 100%;
            margin-top: 0.75em;            
        }
        .searchbar .form-control {
            padding: 0px,0px;
        }

        div#langs{
            order: 2;
        }

        #logo{
            order: 1;
        }
}
