<form [formGroup]="editDetailForm" (ngSubmit)="onUpdateClick()">
    <div class="mb-3">
        <label for="detailName" class="form-label">Detail Name</label>
        <input type="text" name="detailName" id="detailName" class="form-control" formControlName='detailName'>
    </div>
    <div class="mb-3">
        <label for="detailName_TC" class="form-label">Detail Name (Trad. Chinese)</label>
        <input type="text" name="detailName_TC" id="detailName_TC" class="form-control" formControlName='detailName_TC'>
    </div>
    <div class="mb-3">
        <label for="detailName_SC" class="form-label">Detail Name (Simp. Chinese)</label>
        <input type="text" name="detailName_SC" id="detailName_SC" class="form-control" formControlName='detailName_SC'>
    </div>
    <div class="mb-3">
        <label for="detailDesc" class="form-label">Detail Description</label>
        <textarea name="detailDesc" id="detailDesc" cols="30" rows="10" class="form-control"
            formControlName="detailDesc"></textarea>
    </div>
    <div class="mb-3">
        <label for="detailDesc_TC" class="form-label">Detail Description (Trad. Chinese)</label>
        <textarea name="detailDesc_TC" id="detailDesc_TC" cols="30" rows="10" class="form-control"
            formControlName="detailDesc_TC"></textarea>
    </div>
    <div class="mb-3">
        <label for="detailDesc_SC" class="form-label">Detail Description (Simp. Chinese)</label>
        <textarea name="detailDesc_SC" id="detailDesc_SC" cols="30" rows="10" class="form-control"
            formControlName="detailDesc_SC"></textarea>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
        <div class="col ms-auto">
            <button type="" class="btn btn-danger float-end" (click)="onDeleteClick()">Delete</button>
        </div>
    </div>
</form>

<div class="my-xxl-5 ms-2">
    <div class="row">
        <h3 class="col">Attachment</h3>

        <button class="btn btn-primary float-end col-auto" (click)="openAddAttachmentModal(addAttachmentModal)">Add
            Attachment</button>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <th>Name</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let atch of attachments$|async">
                    <td><a [href]="'/api/project/attachment/'+atch.attachmentId" target="_blank">
                            {{atch.origFileName}}.{{atch.origExt}}</a></td>
                    <td><button class="btn btn-danger" (click)="onDeleteAttachmen(atch.attachmentId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #addAttachmentModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Attachment</h4>
        <button type="button" class="btn close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="addAttachmentForm">
            <div class="form-group">
                <label for="tag" class="form-label">Attachment</label>
                <div class="input-group">
                    <input #file id="tag" class="form-control" type="file" formControlName="file"
                        (change)="onFileChange(file.files)">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onAddAttachmentClick()">Add</button>
    </div>
</ng-template>